.policies{
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.all-image-icon{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: 2px black solid;
    background-color: white;
}

.human , .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: white;
}
.all-image-icon:hover{
    transition: 0.5s ease;
    transform: scale(0.9);
}

@media (max-width:280px){
    .policies{
        flex-direction: column;
    }
}