<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/contact.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='png/contact.png')}}" type="image/x-icon">
</head>
<body>
    <div class="navbar">
        <h1>Qure</h1>
        <div class="left">
            <button class="jump" id="is">Contact</button>
            <button class="jump" onclick="pol()">More</button>
            <button class="jump" onclick="ser()">Search</button>
        </div>
        <button class="right_button">Menu</button>
        <div class="res_btn">
            <button class="resbtn">Contact</button>
            <button class="resbtn" onclick="pol()">More</button>
            <button class="resbtn" onclick="ser()">Search</button>
        </div>
    </div>
    <form action="{{url_for('send')}}" class="action">
        <input type="email" placeholder="Enter your email" name="mal">
        <input type="password" placeholder="Enter your password" name="passw">
        <textarea rows="5" cols="30" spellcheck="false" name="text" id="tex"></textarea>
        <button class="send">Send</button>
    </form>

    <script src="{{url_for('static',filename = 'js/contac.js')}}"></script>
</body>
</html>