<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Connection Failed</title>
    <link rel="stylesheet" href="{{url_for('static' ,filename ='css/error.css')}}">
    <link rel="shortcut icon" href="{{url_for('static' ,filename ='png/pro.png')}}" type="image/x-icon">
</head>
<body>
    <div class="sve">
        <h1>Server Error</h1>
        <p>{{man}}</p>
        <button class="exit">Exit From Here</button>
    </div>

    <script src=" {{url_for('static',filename = 'js/backend.js')}} "></script>
</body>
</html>